@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50000;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 1830px) {
  .header {
    background-color: #fff;
  }
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 161px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
  .header__body {
    height: 80px;
  }
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 205px;
          flex: 0 0 205px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

@media (max-width: 992px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    top: -300%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 170px 10px 20px 10px;
    overflow: auto;
  }
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 54px;
}

@media (max-width: 1365px) {
  .header__list li {
    margin: 0 0 0 15px;
  }
}

@media (max-width: 767px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.header__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #626874;
  font-family: "Play";
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 768px) {
  .header__link:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #065fa1;
    padding-bottom: 10px;
    border-bottom: 2px solid #065fa1;
  }
}

@media (max-width: 767px) {
  .header__link {
    font-size: 20px;
  }
}

.youtube-button {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
          box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
  border-radius: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: "Play";
  color: #f21905;
  font-size: 12px;
  line-height: 14px;
  padding: 18px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 0;
  left: 0;
}

.youtube-button img {
  margin-right: 14px;
}

@media (max-width: 1365px) {
  .youtube-button {
    margin: 0 0 0 15px;
  }
}

@media (max-width: 1100px) {
  .youtube-button {
    -webkit-box-shadow: 0 0 0 #ffffff;
            box-shadow: 0 0 0 #ffffff;
    padding: 0px;
    border-bottom: none;
  }
  .youtube-button span {
    display: none;
  }
  .youtube-button img {
    margin-right: 0;
  }
  .youtube-button:hover {
    padding: 0px;
    border-bottom: none;
  }
}

@media (min-width: 1101px) {
  .youtube-button:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #f21905;
    padding: 18px 38px;
    border-bottom: none;
    top: 3px;
    -webkit-box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
            box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
  }
}

@media (max-width: 767px) {
  .youtube-button {
    margin: 0;
    -webkit-box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
            box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
    padding: 18px 38px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 50px;
  }
  .youtube-button span {
    display: inline;
  }
  .youtube-button img {
    margin-right: 14px;
  }
}

.main {
  background: url("../img/img/main/rightimage.jpg") 79% 45%/64% no-repeat, url("../img/img/main/mainbg.jpg") -7% 0/contain no-repeat;
  min-height: 950px;
  padding: 270px 0 0 0;
  position: relative;
}

@media (max-width: 1600px) {
  .main {
    background: url("../img/img/main/rightimage.jpg") 100% 45%/64% no-repeat, url("../img/img/main/mainbg.jpg") -7% 0/contain no-repeat;
  }
}

@media (max-width: 1365px) {
  .main {
    background: url("../img/img/main/rightimage.jpg") 100% 45%/80% no-repeat, url("../img/img/main/mainbg.jpg") -7% 0/contain no-repeat;
  }
}

@media (max-width: 1280px) {
  .main {
    background: url("../img/img/main/rightimage.jpg") 100% 45%/90% no-repeat, url("../img/img/main/mainbg.jpg") -70% 0/contain no-repeat;
  }
}

@media (max-width: 1100px) {
  .main {
    background: url("../img/img/main/mainbg.jpg") -100% 0/contain no-repeat, url("../img/img/main/rightimage.jpg") 100% 45%/110% no-repeat;
    padding: 200px 0 0 0;
    min-height: 900px;
  }
}

@media (max-width: 992px) {
  .main {
    background: url("../img/img/main/rightimage.jpg") 130% 45%/70% no-repeat, url("../img/img/main/mainbg.jpg") 0 0/80% no-repeat;
    padding: 100px 0 0 0;
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  .main {
    background: url("../img/img/main/rightimage.jpg") 130% 45%/70% no-repeat, url("../img/img/main/mainbg.jpg") 0 0/cover no-repeat;
  }
}

@media (max-width: 500px) {
  .main {
    min-height: 600px;
  }
}

.main__slider {
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
}

.main__slider .slick-list {
  overflow: hidden;
  min-height: 700px;
}

@media (max-width: 500px) {
  .main__slider .slick-list {
    min-height: 600px;
  }
}

@media (max-width: 360px) {
  .main__slider .slick-list {
    min-height: 500px;
  }
}

.main__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1750px) {
  .main__slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 1365px) {
  .main__slider-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  .main__slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__slider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
}

@media (max-width: 500px) {
  .main__slider-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
  }
}

@media (max-width: 320px) {
  .main__slider-bottom {
    padding-bottom: 90px;
  }
}

.main__title {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Play";
  font-weight: bold;
  font-size: 57px;
  line-height: 60px;
  max-width: 630px;
  margin-bottom: 60px;
}

@media (max-width: 1100px) {
  .main__title {
    font-size: 40px;
    line-height: 40px;
    max-width: 509px;
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .main__title {
    font-size: 26px;
  }
}

@media (max-width: 360px) {
  .main__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.main__button {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(14, 53, 75, 0.05), 0px 20px 30px rgba(8, 97, 163, 0.3);
          box-shadow: 0px 0px 20px rgba(14, 53, 75, 0.05), 0px 20px 30px rgba(8, 97, 163, 0.3);
  border-radius: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #2f384f;
  font-family: "Play";
  padding: 18px 80px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 3px;
  -webkit-box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
          box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
}

.main__slider-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 30px;
}

@media (max-width: 1100px) {
  .main__slider-item-bottom {
    margin-top: 50px;
  }
}

.bottom-left {
  position: relative;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-family: "Play";
  font-weight: bold;
  font-size: 22px;
  line-height: 14px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0px 92px 170px;
  /* Активная точка */
  /* Элемент точки */
}

.bottom-left span {
  font-size: 36px;
  position: relative;
  left: 0;
  top: 4px;
}

.bottom-left .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -14px;
  left: 20px;
}

.bottom-left .slick-dots li {
  list-style: none;
  height: 30px;
  cursor: pointer;
}

.bottom-left .slick-dots li.slick-active button {
  background-color: #fff;
  height: 2px;
}

.bottom-left .slick-dots li button {
  font-size: 0;
  width: 78px;
  height: 2px;
  background: #2f384f;
}

@media (max-width: 767px) {
  .bottom-left .slick-dots li button {
    width: 30px;
  }
}

@media (max-width: 1365px) {
  .bottom-left {
    margin: 0 0 92px 20px;
  }
}

@media (max-width: 1100px) {
  .bottom-left {
    margin: 0 0 62px 20px;
  }
}

@media (max-width: 767px) {
  .bottom-left {
    margin: 0 0 42px 20px;
  }
}

@media (max-width: 500px) {
  .bottom-left {
    margin: 0 0 30px -10px;
  }
}

@media (max-width: 360px) {
  .bottom-left {
    margin: 0 0 10px -10px;
  }
}

.bottom-middle {
  position: relative;
  top: 56px;
  left: 0;
}

.bottom-middle video {
  max-width: 100%;
  cursor: pointer;
}

@media (max-width: 1750px) {
  .bottom-middle {
    top: 0;
  }
}

.bottom-right {
  margin: 0 150px 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19%;
  background-color: white;
  width: 350px;
}

@media (max-width: 1365px) {
  .bottom-right {
    margin: 0 20px 60px 0;
  }
}

@media (max-width: 1100px) {
  .bottom-right {
    margin: 0 20px 50px 0;
  }
}

@media (max-width: 767px) {
  .bottom-right {
    display: none;
  }
}

.bottom-arrows {
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 60px;
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
}

.bottom-arrows .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  height: 60px;
  width: 30px;
  margin: -30px 0px 0px 0px;
}

.bottom-arrows .slick-arrow.slick-prev {
  background: url("../img/icons/main/arrow.svg") center no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 80px;
}

@media (max-width: 767px) {
  .bottom-arrows .slick-arrow.slick-prev {
    border-radius: 15px;
  }
}

.bottom-arrows .slick-arrow.slick-next {
  right: 0;
  background: url("../img/icons/main/arrow.svg") center no-repeat;
}

.bottom-arrows .slick-arrow.slick-disabled {
  opacity: 0.5;
}

@media (max-width: 992px) {
  .bottom-arrows {
    width: 110px;
  }
}

@media (max-width: 767px) {
  .bottom-arrows {
    border-radius: 15px;
  }
}

.bottom-mouse {
  cursor: pointer;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #065fa1;
  font-family: "Play";
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
}

.bottom-mouse img {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 30px;
  -webkit-animation: mouseup 2s ease infinite alternate;
          animation: mouseup 2s ease infinite alternate;
}

@-webkit-keyframes mouseup {
  0% {
    top: 0;
  }
  100% {
    top: -40px;
  }
}

@keyframes mouseup {
  0% {
    top: 0;
  }
  100% {
    top: -40px;
  }
}

.bottom-mouse span {
  position: relative;
}

.bottom-mouse span:after {
  content: "";
  height: 80px;
  width: 2px;
  display: block;
  background: #0279c1;
  position: absolute;
  top: -110px;
  left: 163px;
  -webkit-animation: scroll 2s ease infinite alternate;
          animation: scroll 2s ease infinite alternate;
}

@-webkit-keyframes scroll {
  0% {
    height: 80px;
    top: -110px;
    background: #0279c1;
  }
  100% {
    height: 40px;
    top: -150px;
    background: #a6ff00;
  }
}

@keyframes scroll {
  0% {
    height: 80px;
    top: -110px;
    background: #0279c1;
  }
  100% {
    height: 40px;
    top: -150px;
    background: #a6ff00;
  }
}

@media (max-width: 767px) {
  .bottom-mouse span:after {
    display: none;
  }
}

@media (max-width: 1365px) {
  .bottom-mouse {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .bottom-mouse {
    margin-right: 10px;
  }
  .bottom-mouse img {
    display: none;
  }
}

.about {
  margin: 90px 0 0 0;
}

@media (max-width: 767px) {
  .about {
    margin: 30px 0 0 0;
  }
}

.subtitle {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Play";
  font-size: 18px;
  line-height: 14px;
  color: #065fa1;
  text-align: center;
  margin: 0 0 27px 0;
}

@media (max-width: 992px) {
  .subtitle {
    margin: 0 0 10px 0;
  }
}

.title {
  font-family: "Play";
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #2f384f;
  margin: 0 0 80px 0;
}

.title span {
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .title {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 992px) {
  .title {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
    line-height: 30px;
  }
}

.about__body {
  border-bottom: #31aaff 2px solid;
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .about__top {
    margin-bottom: 80px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 992px) {
  .about__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about__image img {
  max-width: 100%;
}

@media (max-width: 1280px) {
  .about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}

@media (max-width: 992px) {
  .about__image {
    padding: 15px;
  }
}

.about__info {
  padding: 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #131314;
}

.about__info p:first-child {
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #2f384f;
  margin: 0 0 12px 0;
}

@media (max-width: 1280px) {
  .about__info {
    padding: 0 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }
}

.about__button-container {
  margin: 50px 0 0 0;
}

.about__button {
  background: #31aaff;
  -webkit-box-shadow: 0px 0px 20px rgba(14, 53, 75, 0.05), 0px 20px 30px rgba(8, 97, 163, 0.3);
          box-shadow: 0px 0px 20px rgba(14, 53, 75, 0.05), 0px 20px 30px rgba(8, 97, 163, 0.3);
  border-radius: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 52px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 993px) {
  .about__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 3px;
    -webkit-box-shadow: 0px 0px 10px rgba(14, 53, 75, 0.05), 0px 10px 10px rgba(8, 97, 163, 0.3);
            box-shadow: 0px 0px 10px rgba(14, 53, 75, 0.05), 0px 10px 10px rgba(8, 97, 163, 0.3);
  }
}

@media (max-width: 480px) {
  .about__button {
    letter-spacing: normal;
    padding: 15px;
  }
}

@media (max-width: 360px) {
  .about__button {
    font-size: 12px;
  }
}

.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 110px 80px;
}

@media (max-width: 1280px) {
  .about__bottom {
    padding: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .about__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .about__item {
    margin-bottom: 30px;
  }
}

.about__item-image img {
  height: 90px;
  position: relative;
  top: 0;
  left: -15px;
}

.about__item-title {
  font-family: "Play";
  font-weight: bold;
  font-size: 22px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #131314;
  margin: 10px 0 31px 0;
}

@media (max-width: 767px) {
  .about__item-title {
    margin: 10px 0 10px 0;
  }
}

.about__item-text {
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #2f384f;
}

.services {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .services {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.services-modifier {
  margin-top: 50px;
  margin-bottom: 50px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.services__link {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #eaeef1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 392px;
          flex: 0 0 392px;
  height: 392px;
  padding: 66px 40px 60px 40px;
  overflow: hidden;
}

@media (min-width: 993px) {
  .services__link:hover .services__item-hover {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 480px) {
  .services__link {
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    height: 390px;
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}

.services__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.services__item-icon span {
  font-family: "Play";
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #e4e9ed;
}

.services__item-icon span::before {
  content: "";
  background: #e4e9ed;
  display: inline-block;
  height: 1px;
  width: 56px;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  margin: 0 12px;
}

.services__item-icon img {
  height: 50px;
}

.services__item-title {
  position: absolute;
  top: 90px;
  left: 0;
  font-family: "Play";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #131314;
}

@media (max-width: 480px) {
  .services__item-title {
    font-size: 16px;
  }
}

.services__item-text {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.03em;
  color: #2f384f;
}

.services__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 102%;
  width: 102%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__item-hover img {
  max-width: 100%;
}

.services__item-hover-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: #31aaff;
  -webkit-box-shadow: 0px 0px 20px rgba(55, 149, 219, 0.4), 0px 20px 30px rgba(55, 149, 219, 0.5);
          box-shadow: 0px 0px 20px rgba(55, 149, 219, 0.4), 0px 20px 30px rgba(55, 149, 219, 0.5);
  border-radius: 30px;
  padding: 15px 71px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__item-hover-button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(55, 149, 219, 0.4), 0px 10px 10px rgba(55, 149, 219, 0.5);
          box-shadow: 0px 0px 10px rgba(55, 149, 219, 0.4), 0px 10px 10px rgba(55, 149, 219, 0.5);
  top: 51%;
}

.testimonials {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .testimonials {
    margin-bottom: 0;
  }
}

.testimonials__body {
  padding-bottom: 120px;
  border-bottom: #f4f6f8 1px solid;
}

@media (max-width: 767px) {
  .testimonials__body {
    padding-bottom: 80px;
  }
}

.testimonials__sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/img/testimonials/quote.svg") 78% 100% no-repeat;
}

@media (max-width: 992px) {
  .testimonials__sliders {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .testimonials__sliders {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonials__left-slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 276px;
          flex: 0 0 276px;
  min-width: 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(14, 53, 75, 0.05), 0px 30px 40px rgba(14, 68, 98, 0.1);
          box-shadow: 0px 0px 15px rgba(14, 53, 75, 0.05), 0px 30px 40px rgba(14, 68, 98, 0.1);
  border-radius: 4px;
  margin-left: 94px;
  position: relative;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

.testimonials__left-slider:before {
  content: "";
  background-color: #31aaff;
  height: 100%;
  width: 8px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -92px;
}

@media (max-width: 992px) {
  .testimonials__left-slider {
    margin-left: 30px;
  }
  .testimonials__left-slider:before {
    left: -28px;
  }
}

@media (max-width: 767px) {
  .testimonials__left-slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}

@media (max-width: 480px) {
  .testimonials__left-slider {
    max-width: 200px;
    margin-left: 0px;
  }
}

.testimonials__left-slider .slick-list {
  overflow: hidden;
}

.testimonials__left-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials__left-slider-item img {
  max-width: 100%;
}

.testimonials__right-slider {
  min-width: 0;
  margin-left: 57px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

@media (max-width: 992px) {
  .testimonials__right-slider {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .testimonials__right-slider {
    max-width: 280px;
    margin-top: 30px;
    margin-left: 0px;
  }
}

.testimonials__right-slider .slick-list {
  overflow: hidden;
}

.testimonials__right-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials__right-slider .slick-arrow {
  position: absolute;
  bottom: -40px;
  left: -10px;
  z-index: 10;
  font-size: 0;
  height: 60px;
  width: 30px;
}

@media (max-width: 480px) {
  .testimonials__right-slider .slick-arrow {
    left: 0;
  }
}

.testimonials__right-slider .slick-arrow.slick-prev {
  background: url("../img/icons/main/arrow.svg") center no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonials__right-slider .slick-arrow.slick-next {
  background: url("../img/icons/main/arrow.svg") center no-repeat;
  left: 70px;
  bottom: -39px;
}

.testimonials__right-slider .slick-arrow.slick-disabled {
  opacity: 0.5;
}

.testimonials__right-slider .slick-dots {
  position: absolute;
  right: 50px;
  top: 30%;
}

@media (max-width: 1280px) {
  .testimonials__right-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 98%;
  }
}

@media (max-width: 992px) {
  .testimonials__right-slider .slick-dots {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .testimonials__right-slider .slick-dots {
    right: 0px;
  }
}

.testimonials__right-slider .slick-dots li {
  list-style: none;
  margin-bottom: 3px;
}

@media (max-width: 1280px) {
  .testimonials__right-slider .slick-dots li {
    margin-right: 10px;
  }
}

.testimonials__right-slider .slick-dots li.slick-active button {
  background: #31aaff;
  -webkit-box-shadow: 0px 0px 10px rgba(6, 95, 161, 0.05), 0px 4px 10px rgba(55, 149, 219, 0.3);
          box-shadow: 0px 0px 10px rgba(6, 95, 161, 0.05), 0px 4px 10px rgba(55, 149, 219, 0.3);
}

.testimonials__right-slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #31aaff;
  border-radius: 30px;
  background: transparent;
}

.testimonials__right-slider-name {
  font-family: "Play";
  font-weight: bold;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #131314;
  margin-bottom: 31px;
  padding-top: 2px;
}

@media (max-width: 550px) {
  .testimonials__right-slider-name {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 20px;
  }
}

.testimonials__right-slider-text {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.03em;
  color: #2f384f;
  margin-bottom: 31px;
  max-width: 693px;
}

@media (max-width: 550px) {
  .testimonials__right-slider-text {
    font-size: 14px;
    line-height: 14px;
  }
}

.footer__top {
  background: #293446;
}

.footer__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 520px;
}

@media (max-width: 992px) {
  .footer__top-menu {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .footer__top-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 360px) {
  .footer__top-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__top-menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 320px;
  margin-right: 20px;
}

@media (max-width: 1365px) {
  .footer__top-menu-body {
    height: 200px;
  }
}

@media (max-width: 360px) {
  .footer__top-menu-body {
    width: 100%;
    margin-left: 20px;
    height: 170px;
    margin-top: 20px;
  }
}

.footer__top-menu-title {
  font-family: "Play";
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media (max-width: 1365px) {
  .footer__top-menu-title {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .footer__top-menu-title {
    margin-bottom: 0;
    line-height: normal;
  }
}

.footer__menu-list li {
  margin-bottom: 38px;
}

@media (max-width: 1365px) {
  .footer__menu-list li {
    margin-bottom: 10px;
  }
}

.footer__menu-list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1365px) {
  .footer__menu-list a {
    font-size: 14px;
  }
}

.footer__menu-link {
  font-family: "Play";
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #878e9d;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__top-contacts {
  font-family: "Play";
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #878e9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 320px;
  max-width: 320px;
  margin-right: 20px;
}

@media (max-width: 1365px) {
  .footer__top-contacts {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .footer__top-contacts {
    max-width: 280px;
    margin-right: 0;
  }
}

@media (max-width: 360px) {
  .footer__top-contacts {
    max-width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: none;
    min-height: 170px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts-title {
  margin-bottom: 0;
}

@media (max-width: 360px) {
  .contacts-title {
    margin-bottom: 10px;
  }
}

.footer__top-phone a {
  color: #31aaff;
  font-weight: 700;
  font-size: 26px;
}

@media (max-width: 1365px) {
  .footer__top-phone a {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .footer__top-phone {
    margin-bottom: 10px;
  }
}

@media (max-width: 1365px) {
  .footer__top-address {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .footer__top-address {
    margin-bottom: 10px;
  }
}

@media (max-width: 1365px) {
  .footer__top-time {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .footer__top-time {
    margin-bottom: 10px;
  }
}

@media (max-width: 1365px) {
  .footer__top-mail {
    font-size: 14px;
  }
}

@media (max-width: 1365px) {
  .footer__top-map iframe {
    width: 500px;
  }
}

@media (max-width: 992px) {
  .footer__top-map iframe {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .footer__top-map {
    display: none;
  }
}

.footer__bottom {
  background: #141a26;
}

.footer__bottom-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 143px;
  padding: 20px;
}

@media (max-width: 767px) {
  .footer__bottom-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 200px;
    padding-bottom: 50px;
  }
}

.footer__bottom-left {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 473px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .footer__bottom-left {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .footer__bottom-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__developer {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .footer__developer {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 360px) {
  .footer__developer {
    text-align: center;
  }
}

.footer__link {
  margin-right: 70px;
}

@media (max-width: 992px) {
  .footer__link {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.footer__back2beginning {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #31aaff;
  cursor: pointer;
}

.footer__back2beginning span {
  margin-right: 8px;
}

.articles__header {
  background-color: #fff;
}

.general__main {
  min-height: 400px;
  background: url("../img/img/articlesMain/articlesMainBg.jpg") right center/contain no-repeat, #f1f6fc;
  margin-top: 161px;
  padding-top: 50px;
}

@media (max-width: 1024px) {
  .general__main {
    background: url("../img/img/articlesMain/articlesMainBg.jpg") center/cover no-repeat;
  }
}

@media (max-width: 992px) {
  .general__main {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .general__main {
    margin-top: 50px;
  }
}

.general__body {
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 24px rgba(2, 67, 193, 0.1);
          box-shadow: 0px 6px 24px rgba(2, 67, 193, 0.1);
  height: 300px;
  max-width: 818px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 92px;
}

@media (max-width: 767px) {
  .general__body {
    padding: 20px;
  }
}

.general__breadcrumbs {
  font-family: "Play";
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
}

.general__breadcrumbs a {
  color: #626874;
}

.general__breadcrumbs span {
  color: #065fa1;
  margin: 0 5px;
}

.general__breadcrumbs span:first-child {
  margin: 0;
}

.general-title {
  font-family: "Play";
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #2f384f;
  max-width: 550px;
  margin-right: 20px;
}

.general-title span {
  white-space: nowrap;
}

@media (max-width: 767px) {
  .general-title {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .general-title {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 360px) {
  .general-title {
    font-size: 22px;
  }
}

.services__main-modifier {
  background: url("../img/img/servicesMain/servicesbg.jpg") right center/contain no-repeat, #f1f6fc;
}

@media (max-width: 1024px) {
  .services__main-modifier {
    background: url("../img/img/servicesMain/servicesbg.jpg") center/cover no-repeat;
  }
}

.article__main-modifier {
  background: url("../img/img/servicesMain/articlebg.jpg") right center/contain no-repeat, #f1f6fc;
}

@media (max-width: 1024px) {
  .article__main-modifier {
    background: url("../img/img/servicesMain/articlebg.jpg") center/cover no-repeat;
  }
}

.contacts__main-modifier {
  background: url("../img/img/contacts/contacts-image.jpg") right center/contain no-repeat, #f1f6fc;
}

@media (max-width: 1024px) {
  .contacts__main-modifier {
    background: url("../img/img/contacts/contacts-image.jpg") center/cover no-repeat;
  }
}

.articles {
  margin-top: 50px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .articles {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.article-modifier {
  margin-bottom: 50px;
}

.articles__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.articles__left form,
.articles__left .articles__last {
  display: none;
}

@media (max-width: 767px) {
  .articles__left form,
  .articles__left .articles__last {
    display: block;
  }
  .articles__left .articles__last {
    margin-top: 20px;
  }
}

.articles__items {
  margin-bottom: 10px;
}

.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 1280px) {
  .articles__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .articles__item {
    margin-bottom: 20px;
  }
}

.articles__item-image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 489px;
          flex: 0 0 489px;
}

.articles__item-image img {
  max-width: 100%;
}

@media (max-width: 1365px) {
  .articles__item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
}

@media (max-width: 1280px) {
  .articles__item-image {
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .articles__item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    max-width: 200px;
  }
}

.articles__item-date {
  position: absolute;
  top: 0;
  right: 0;
  width: 119px;
  height: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #31aaff;
  opacity: 0.9;
  color: #fff;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: "Play";
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  .articles__item-date {
    padding: 5px;
    font-size: 14px;
    height: 70px;
    width: 70px;
    line-height: 14px;
    font-weight: 400;
  }
}

.articles__item-info {
  padding: 20px 0px 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1365px) {
  .articles__item-info {
    padding: 0px 0px 20px 20px;
  }
}

@media (max-width: 1280px) {
  .articles__item-info {
    padding: 20px 0px 20px 0px;
  }
}

.articles__item-title {
  margin-bottom: 30px;
}

.articles__item-title a {
  font-family: "Play";
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000;
}

.articles__item-title a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .articles__item-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .articles__item-title a {
    font-size: 24px;
    line-height: 24px;
  }
}

.articles__item-author {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #878e9d;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .articles__item-author {
    margin-bottom: 10px;
  }
}

.articles__item-text {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #131314;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
}

.articles__item-text p {
  margin-bottom: 8px;
}

.articles__item-text a {
  color: #31aaff;
}

.articles__item-text a:hover {
  text-decoration: underline;
}

.articles__item-read {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.articles__item-read a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #31aaff;
}

.articles__item-read a:hover {
  text-decoration: underline;
}

.articles__numeration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .articles__numeration {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles__list li:first-child {
  -webkit-transition: all ease 0.3s 0s;
  transition: all ease 0.3s 0s;
  margin-right: 13px;
  border: none;
  height: 36px;
  width: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("../img/icons/articles/arrow.svg") left no-repeat;
}

.articles__list li:first-child:hover {
  border: none;
  background: url("../../img/icons/articles/arrow.svg") left no-repeat, url("../../img/icons/articles/active-arrow.svg") 60% 110% no-repeat;
}

.articles__list li:last-child {
  -webkit-transition: all ease 0.3s 0s;
  transition: all ease 0.3s 0s;
  margin-left: 13px;
  border: none;
  height: 36px;
  width: 50px;
  background: url("../img/icons/articles/arrow.svg") left no-repeat;
}

.articles__list li:last-child:hover {
  border: none;
  background: url("../../img/icons/articles/arrow.svg") left no-repeat, url("../../img/icons/articles/active-arrow.svg") 60% 100% no-repeat;
}

.articles__list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  -webkit-transition: all ease 0.3s 0s;
  transition: all ease 0.3s 0s;
  border: 1px solid #2f384f;
  margin: 0 1px;
  cursor: pointer;
}

.articles__list li:hover {
  -webkit-transition: all ease 0.3s 0s;
  transition: all ease 0.3s 0s;
  border: 1px solid #065fa1;
}

.articles__list li:hover a {
  color: #065fa1;
  text-decoration: underline;
}

.articles__list a {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #2f384f;
}

@media (max-width: 360px) {
  .articles__list li:nth-child(5),
  .articles__list li:nth-child(6) {
    display: none;
  }
}

.articles__right {
  margin-left: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 426px;
          flex: 0 0 426px;
}

@media (max-width: 992px) {
  .articles__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 290px;
            flex: 0 0 290px;
  }
}

@media (max-width: 767px) {
  .articles__right {
    display: none;
  }
}

.articles__form {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .articles__form {
    margin-bottom: 20px;
  }
}

.articles__search-body {
  background: #f1f6fc;
  border-radius: 2px;
  height: 123px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .articles__search-body {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .articles__search-body {
    width: 100%;
    padding: 20px;
  }
}

.articles__search-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .articles__search-unit {
    width: 100%;
  }
}

.articles__search-icon {
  width: 76px;
  height: 48px;
  background: #f21905;
  -webkit-box-shadow: 0px 6px 24px rgba(242, 25, 5, 0.2);
          box-shadow: 0px 6px 24px rgba(242, 25, 5, 0.2);
  border-radius: 2px;
}

.articles__search-icon:hover {
  background: #ff4331;
}

.articles__search-icon a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .articles__search-icon {
    width: 48px;
  }
}

.articles__search {
  width: 250px;
  height: 48px;
  padding: 0 20px;
  -webkit-box-shadow: 0px 6px 24px rgba(2, 67, 193, 0.1);
          box-shadow: 0px 6px 24px rgba(2, 67, 193, 0.1);
}

.articles__search::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
}

.articles__search:-ms-input-placeholder {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
}

.articles__search::-ms-input-placeholder {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
}

.articles__search::placeholder {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
}

@media (max-width: 992px) {
  .articles__search {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .articles__search {
    width: 100%;
  }
}

.articles__sort-body {
  background: #f1f6fc;
  border-radius: 2px;
  height: 345px;
  padding: 38px 50px;
}

@media (max-width: 992px) {
  .articles__sort-body {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .articles__sort-body {
    padding: 20px 40px 20px 20px;
  }
}

.sort-title {
  font-family: "Play";
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 21px;
  border-bottom: 1px solid #d4e0ee;
  margin-bottom: 23px;
}

.sort-list li {
  color: #2f384f;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-bottom: 10px;
}

.sort-list li:hover {
  color: #f21905;
}

.checkbox {
  position: relative;
  top: 0;
  left: 26px;
}

.checkbox:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #2f384f;
  position: absolute;
  top: 3px;
  left: -26px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -24px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #2f384f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.checkbox:hover:before {
  border: 1px solid #f21905;
  -webkit-box-shadow: 0px 2px 8px rgba(242, 25, 5, 0.4);
          box-shadow: 0px 2px 8px rgba(242, 25, 5, 0.4);
}

.checkbox:hover:after {
  background: #f21905;
}

.checkbox.active:after {
  opacity: 1;
  visibility: visible;
}

.sort-checkbox {
  display: none;
}

.articles__last {
  background: #f1f6fc;
  border-radius: 2px;
  padding: 38px 25px 42px 50px;
}

@media (max-width: 992px) {
  .articles__last {
    padding: 20px;
  }
}

.articles__last-title {
  font-family: "Play";
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 21px;
  border-bottom: 1px solid #d4e0ee;
  margin-bottom: 23px;
}

.articles__last-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.articles__last-item:hover .info-title {
  text-decoration: underline;
}

.articles__last-item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.articles__last-item-image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .articles__last-item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
  }
}

.articles__last-item-info {
  margin-left: 23px;
}

@media (max-width: 992px) {
  .articles__last-item-info {
    margin-left: 10px;
  }
}

.info-title {
  font-family: "Play";
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.info-date {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #878e9d;
}

.article__title {
  font-family: "Play";
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .article__title {
    font-size: 26px;
    line-height: 26px;
  }
}

@media (max-width: 360px) {
  .article__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.article__author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .article__author-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.article__date {
  font-family: "Play";
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background: #31aaff;
  padding: 10px 54px;
  margin-right: 24px;
}

@media (max-width: 1080px) {
  .article__date {
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .article__date {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .article__date {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }
}

.article__author {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #878e9d;
}

.article__text {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #131314;
}

.article__text p {
  margin-bottom: 8px;
}

.article__text img {
  max-width: 100%;
  margin: 20px 0;
}

.contacts-page {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .contacts-page {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.contacts-page-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .contacts-page-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 10px;
  }
}

.contacts-page-info-left {
  font-family: "Montserrat";
  letter-spacing: -0.02em;
  color: #131314;
  margin-right: 60px;
  font-size: 16px;
  line-height: 18px;
}

.contacts-page-info-left p {
  margin-bottom: 15px;
}

.contacts-page-info-left p:first-child {
  font-size: 20px;
  font-weight: 600;
}

.contacts-page-info-left span {
  color: #0279c1;
  font-weight: 600;
}

@media (max-width: 767px) {
  .contacts-page-info-left {
    margin-right: 0;
  }
}

.contacts-page-info-right {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  background: #f1f6fc;
  border-radius: 2px;
  padding: 60px 66px;
  max-width: 726px;
  font-weight: 500;
}

.contacts-page-info-right p {
  margin-bottom: 10px;
}

.contacts-page-info-right span {
  color: #065fa1;
}

.contacts-page-info-right p:last-child {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #f21905;
  max-width: 486px;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .contacts-page-info-right {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
  }
}

.contacts-page-bottom {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #131314;
}

.contacts-page-bottom p {
  margin-bottom: 10px;
}

.contacts-page-bottom span {
  font-weight: 600;
}

.contacts-page-bottom a {
  color: #31AAFF;
}

.contacts-page-bottom a:hover {
  text-decoration: underline;
}

.contacts-page-bottom-subtitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .contacts-page-bottom-subtitle {
    margin-bottom: 20px;
  }
}
