@import "_nullstyle";

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
}
body {
	@media (max-width: 767px) {
		&.lock {
			overflow: hidden;
		}
	}
}
.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	transition: all 0.3s ease 0s;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 161px;
	align-items: center;
	transition: all 0.3s ease 0s;
	@media (max-width: 767px) {
		height: 50px;
	}
}
.header__logo {
	flex: 0 0 205px;
	overflow: hidden;
	position: relative;
	z-index: 3;
	img {
		max-width: 100%;
		display: block;
	}
	@media (max-width: 767px) {
		flex: 0 0 120px;
	}
}
.header__burger {
	display: none;
	@media (max-width: 767px) {
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		&:before,
		&:after {
			content: "";
			background-color: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			position: absolute;
			background-color: #000;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
		&.active {
			span {
				transform: scale(0);
			}
		}
		&.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
	}
}
.header__menu {
	@media (max-width: 767px) {
		transition: all 0.3s ease 0s;
		position: fixed;
		top: -300%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 70px 10px 20px 10px;
		overflow: auto;
	}
	&.active {
		top: 0;
	}
}
.header__list {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	li {
		margin: 0 0 0 54px;
	}
	@media (max-width: 1200px) {
		li {
			margin: 0 0 0 15px;
		}
	}
	@media (max-width: 767px) {
		display: block;
		li {
			margin: 0 0 20px 0;
		}
	}
}
.header__link {
	transition: all 0.3s ease 0s;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #626874;
	font-family: "Play";
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	@media (min-width: 993px){
		&:hover{
			transition: all 0.3s ease 0s;
			color: #065FA1;
		}
	}
	@media (max-width: 767px) {
		font-size: 20px;
	}
}
.youtube-button {
	margin: 0 0 0 64px;
	background: #ffffff;
	box-shadow: 0px 0px 15px rgba(14, 53, 75, 0.05), 0px 30px 40px rgba(14, 68, 98, 0.1);
	border-radius: 30px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-family: "Play";
	color: #f21905;
	font-size: 12px;
	line-height: 14px;
	padding: 18px 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		margin-right: 14px;
	}
	@media (max-width: 1200px) {
		margin: 0 0 0 15px;
	}
	@media (max-width: 767px) {
		margin: 0;
	}
}
.golova {
	font-size: 50px;
	font-family: "Montserrat", sans-serif;
	span {
		font-family: "Play", sans-serif;
		font-weight: 700;
	}
}
