@import "_nullstyle";

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
}
body {
	@media (max-width: 767px) {
		&.lock {
			overflow: hidden;
		}
	}
}
.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	transition: all 0.3s ease 0s;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 161px;
	align-items: center;
	transition: all 0.3s ease 0s;
	@media (max-width: 992px) {
		height: 80px;
	}
	@media (max-width: 767px) {
		height: 50px;
	}
}
.header__logo {
	flex: 0 0 205px;
	overflow: hidden;
	position: relative;
	z-index: 3;
	img {
		max-width: 100%;
		display: block;
	}
	@media (max-width: 992px) {
		flex: 0 0 140px;
	}
	@media (max-width: 767px) {
		flex: 0 0 120px;
	}
}
.header__burger {
	display: none;
	@media (max-width: 767px) {
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		&:before,
		&:after {
			content: "";
			background-color: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			position: absolute;
			background-color: #000;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
		&.active {
			span {
				transform: scale(0);
			}
		}
		&.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
	}
}
.header__menu {
	@media (max-width: 767px) {
		transition: all 0.3s ease 0s;
		position: fixed;
		top: -300%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 170px 10px 20px 10px;
		overflow: auto;
	}
	&.active {
		top: 0;
	}
}
.header__list {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	li {
		margin: 0 0 0 54px;
	}
	@media (max-width: 1365px) {
		li {
			margin: 0 0 0 15px;
		}
	}
	@media (max-width: 767px) {
		display: block;
		li {
			margin: 0 0 20px 0;
		}
	}
}
.header__link {
	transition: all 0.3s ease 0s;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #626874;
	font-family: "Play";
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	@media (min-width: 768px) {
		&:hover {
			transition: all 0.3s ease 0s;
			color: #065fa1;
			padding-bottom: 10px;
			border-bottom: 2px solid #065fa1;
		}
	}
	@media (max-width: 767px) {
		font-size: 20px;
	}
}
.youtube-button {
	background: #ffffff;
	box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
	border-radius: 30px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-family: "Play";
	color: #f21905;
	font-size: 12px;
	line-height: 14px;
	padding: 18px 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease 0s;
	position: relative;
	top: 0;
	left: 0;
	img {
		margin-right: 14px;
	}
	@media (max-width: 1365px) {
		margin: 0 0 0 15px;
	}
	@media (max-width: 1100px) {
		span {
			display: none;
		}
		img {
			margin-right: 0;
		}
		box-shadow: 0 0 0 #ffffff;
		padding: 0px;
		border-bottom: none;
		&:hover {
			padding: 0px;
			border-bottom: none;
		}
	}
	@media (min-width: 1101px) {
		&:hover {
			transition: all 0.3s ease 0s;
			color: #f21905;
			padding: 18px 38px;
			border-bottom: none;
			top: 3px;
			box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
		}
	}
	@media (max-width: 767px) {
		margin: 0;
		span {
			display: inline;
		}
		img {
			margin-right: 14px;
		}
		box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
		padding: 18px 38px;
		display: inline-flex;
		margin-top: 50px;
	}
}

// MAIN======================================================

.main {
	background: url("../img/img/main/rightimage.jpg") 79% 45% /64% no-repeat,
		url("../img/img/main/mainbg.jpg") -10% 0 / contain no-repeat;
	min-height: 950px;
	padding: 300px 0 0 0;
	//border: #f21905 1px solid;
}
.main__bg {
}
.container {
}
.main__slider {
}
.main__slider-item {
}
.main__slider-item-top {
}
.main__title {
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Play";
	font-weight: bold;
	font-size: 57px;
	line-height: 60px;
	max-width: 630px;
	margin-bottom: 60px;
}
.main__button-container {
}
.main__button {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(14, 53, 75, 0.05), 0px 20px 30px rgba(8, 97, 163, 0.3);
	border-radius: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	color: #2f384f;
	font-family: "Play";
	padding: 18px 80px;
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		top: 3px;
		box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
	}
}
.main__slider-item-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 30px;
}
.bottom-left {
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-family: "Play";
	font-weight: bold;
	font-size: 36px;
	line-height: 14px;
	color: #ffffff;
	span {
		font-size: 22px;
		position: relative;
		left: 0;
		top: -9px;
	}
	margin-bottom: 92px;
}
.bottom-middle {
	position: relative;
	top: 6px;
	left: 0;
}
.bottom-right {
	margin-bottom: 92px;
}
.bottom-arrows {
}
.bottom-mouse {
	cursor: pointer;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #065fa1;
	font-family: "Play";
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	margin-right: 100px;
	img{
		position: relative;
		top: 0;
		left: 0;
		margin-left: 30px;
		animation: mouseup 2s ease infinite alternate;
		@keyframes mouseup {
			0%{
				top: 0;
			}
			100%{
				top: -40px;
			}
		}
	}
	span{
		position: relative;
	}
	span:after{
		content: '';
		height: 80px;
		width: 2px;
		display: block;
		background: #0279C1; 
		position: absolute;
		top: -110px;
		left: 163px;
		animation: scroll 2s ease infinite alternate;
		@keyframes scroll {
			0%{
				height: 80px;
				top: -110px;
				background: #0279C1;
			}
			100%{
				height: 40px;
				top: -150px;
				background: #a6ff00;
			}
		}
	}
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}