@import "_nullstyle";

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
}
body {
	@media (max-width: 767px) {
		&.lock {
			overflow: hidden;
		}
	}
}
.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	transition: all 0.3s ease 0s;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	@media (max-width: 1830px) {
		background-color: #fff;
	}
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 161px;
	align-items: center;
	transition: all 0.3s ease 0s;
	@media (max-width: 992px) {
		height: 80px;
	}
	@media (max-width: 767px) {
		height: 50px;
	}
}
.header__logo {
	flex: 0 0 205px;
	overflow: hidden;
	position: relative;
	z-index: 3;
	img {
		max-width: 100%;
		display: block;
	}
	@media (max-width: 992px) {
		flex: 0 0 140px;
	}
	@media (max-width: 767px) {
		flex: 0 0 120px;
	}
}
.header__burger {
	display: none;
	@media (max-width: 767px) {
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		&:before,
		&:after {
			content: "";
			background-color: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			position: absolute;
			background-color: #000;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
		&.active {
			span {
				transform: scale(0);
			}
		}
		&.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
	}
}
.header__menu {
	@media (max-width: 767px) {
		transition: all 0.3s ease 0s;
		position: fixed;
		top: -300%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 170px 10px 20px 10px;
		overflow: auto;
	}
	&.active {
		top: 0;
	}
}
.header__list {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	li {
		margin: 0 0 0 54px;
	}
	@media (max-width: 1365px) {
		li {
			margin: 0 0 0 15px;
		}
	}
	@media (max-width: 767px) {
		display: block;
		li {
			margin: 0 0 20px 0;
		}
	}
}
.header__link {
	transition: all 0.3s ease 0s;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #626874;
	font-family: "Play";
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	@media (min-width: 768px) {
		&:hover {
			transition: all 0.3s ease 0s;
			color: #065fa1;
			padding-bottom: 10px;
			border-bottom: 2px solid #065fa1;
		}
	}
	@media (max-width: 767px) {
		font-size: 20px;
	}
}
.youtube-button {
	background: #ffffff;
	box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
	border-radius: 30px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-family: "Play";
	color: #f21905;
	font-size: 12px;
	line-height: 14px;
	padding: 18px 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease 0s;
	position: relative;
	top: 0;
	left: 0;
	img {
		margin-right: 14px;
	}
	@media (max-width: 1365px) {
		margin: 0 0 0 15px;
	}
	@media (max-width: 1100px) {
		span {
			display: none;
		}
		img {
			margin-right: 0;
		}
		box-shadow: 0 0 0 #ffffff;
		padding: 0px;
		border-bottom: none;
		&:hover {
			padding: 0px;
			border-bottom: none;
		}
	}
	@media (min-width: 1101px) {
		&:hover {
			transition: all 0.3s ease 0s;
			color: #f21905;
			padding: 18px 38px;
			border-bottom: none;
			top: 3px;
			box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
		}
	}
	@media (max-width: 767px) {
		margin: 0;
		span {
			display: inline;
		}
		img {
			margin-right: 14px;
		}
		box-shadow: 0px 0px 15px #0e354b0d, 0px 30px 40px #0e44621a;
		padding: 18px 38px;
		display: inline-flex;
		margin-top: 50px;
	}
}

// MAIN======================================================

.main {
	background: url("../img/img/main/rightimage.jpg") 79% 45% /64% no-repeat,
		url("../img/img/main/mainbg.jpg") -7% 0 / contain no-repeat;
	min-height: 950px;
	padding: 270px 0 0 0;
	position: relative;
	@media (max-width: 1600px) {
		background: url("../img/img/main/rightimage.jpg") 100% 45% /64% no-repeat,
			url("../img/img/main/mainbg.jpg") -7% 0 / contain no-repeat;
	}
	@media (max-width: 1365px) {
		background: url("../img/img/main/rightimage.jpg") 100% 45% /80% no-repeat,
			url("../img/img/main/mainbg.jpg") -7% 0 / contain no-repeat;
	}
	@media (max-width: 1280px) {
		background: url("../img/img/main/rightimage.jpg") 100% 45% /90% no-repeat,
			url("../img/img/main/mainbg.jpg") -70% 0 / contain no-repeat;
	}
	@media (max-width: 1100px) {
		background: url("../img/img/main/mainbg.jpg") -100% 0 / contain no-repeat,
			url("../img/img/main/rightimage.jpg") 100% 45% /110% no-repeat;
		padding: 200px 0 0 0;
		min-height: 900px;
	}
	@media (max-width: 992px) {
		background: url("../img/img/main/rightimage.jpg") 130% 45% /70% no-repeat,
			url("../img/img/main/mainbg.jpg") 0 0 / 80% no-repeat;
		padding: 100px 0 0 0;
		min-height: 800px;
	}
	@media (max-width: 767px) {
		background: url("../img/img/main/rightimage.jpg") 130% 45% /70% no-repeat,
			url("../img/img/main/mainbg.jpg") 0 0 / cover no-repeat;
	}
	@media (max-width: 500px) {
		min-height: 600px;
	}
}
.container {
}
.main__slider {
	position: relative;
	/* Слайдер */
	.slick-slider {
	}
	/* Слайдер запущен */
	.slick-slider.slick-initialized {
	}
	/* Слайдер с точками */
	.slick-slider.slick-dotted {
	}
	/* Ограничивающая оболочка */
	.slick-list {
		overflow: hidden;
		min-height: 700px;
		@media (max-width: 360px) {
			min-height: 550px;
		}
	}
	/* Лента слайдов */
	.slick-track {
		display: flex;
		align-items: flex-start;
	}
	/* Слайд */
	.slick-slide {
	}
	/* Слайд активный (показывается) */
	.slick-slide.slick-active {
	}
	/* Слайд основной */
	.slick-slide.slick-current {
	}
	/* Слайд по центру */
	.slick-slide.slick-center {
	}
	/* Клонированный слайд */
	.slick-slide.slick-cloned {
	}
	/* Стрелка */

	/* Точки (булиты) */
}
.main__slider-item {
	@media (max-width: 1750px) {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	@media (max-width: 1365px) {
		justify-content: space-between;
	}
	@media (max-width: 1100px) {
		flex-direction: column;
	}
}
.main__slider-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: 1px;
	width: 100%;
	@media (max-width: 500px) {
		flex-direction: column;
		align-items: center;
		padding-bottom: 150px;
	}
	@media (max-width: 400px) {
		padding-bottom: 200px;
	}
	@media (max-width: 360px) {
		padding-bottom: 140px;
	}
}
.main__slider-item-top {
}
.main__title {
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Play";
	font-weight: bold;
	font-size: 57px;
	line-height: 60px;
	max-width: 630px;
	margin-bottom: 60px;
	@media (max-width: 1100px) {
		font-size: 40px;
		line-height: 40px;
		max-width: 509px;
		margin-bottom: 40px;
	}
	@media (max-width: 550px) {
		font-size: 26px;
	}
	@media (max-width: 360px) {
		font-size: 20px;
		line-height: 26px;
	}
}
.main__button-container {
}
.main__button {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(14, 53, 75, 0.05), 0px 20px 30px rgba(8, 97, 163, 0.3);
	border-radius: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	color: #2f384f;
	font-family: "Play";
	padding: 18px 80px;
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		top: 3px;
		box-shadow: 0px 0px 5px #0e354b0d, 0px 10px 10px #0e44621a;
	}
}
.main__slider-item-bottom {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 30px;
	@media (max-width: 1100px) {
		margin-top: 50px;
	}
}
.bottom-left {
	position: relative;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-family: "Play";
	font-weight: bold;
	font-size: 22px;
	line-height: 14px;
	color: #ffffff;
	display: flex;
	margin: 0 0px 92px 170px;
	span {
		font-size: 36px;
		position: relative;
		left: 0;
		top: 4px;
	}
	.slick-dots {
		display: flex;
		align-items: center;
		position: relative;
		top: -14px;
		left: 20px;
	}
	.slick-dots li {
		list-style: none;
		height: 30px;
		cursor: pointer;
	}
	/* Активная точка */
	.slick-dots li.slick-active {
		button {
			background-color: #fff;
			height: 2px;
		}
	}
	/* Элемент точки */
	.slick-dots li button {
		font-size: 0;
		width: 78px;
		height: 2px;
		background: #2f384f;
		@media (max-width: 767px) {
			width: 30px;
		}
	}
	@media (max-width: 1365px) {
		margin: 0 0 92px 20px;
	}
	@media (max-width: 1100px) {
		margin: 0 0 62px 20px;
	}
	@media (max-width: 767px) {
		margin: 0 0 42px 20px;
	}
	@media (max-width: 500px) {
		margin: 0 0 30px -10px;
	}
	@media (max-width: 360px) {
		margin: 0 0 10px -10px;
	}
}
.bottom-middle {
	position: relative;
	top: 56px;
	left: 0;
	video {
		max-width: 100%;
		cursor: pointer;
	}
	@media (max-width: 1750px) {
		top: 0;
	}
}
.bottom-right {
	margin: 0 150px 60px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 19%;
	background-color: rgb(255, 255, 255);
	width: 350px;
	@media (max-width: 1365px) {
		margin: 0 20px 60px 0;
	}
	@media (max-width: 1100px) {
		margin: 0 20px 50px 0;
	}
	@media (max-width: 767px) {
		display: none;
	}
}
.bottom-arrows {
	background-color: rgb(255, 255, 255);
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	height: 60px;
	.slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 10;
		font-size: 0;
		height: 60px;
		width: 30px;
		margin: -30px 0px 0px 0px;
	}
	/* Стрелка влево */
	.slick-arrow.slick-prev {
		background: url("../img/icons/main/arrow.svg") center no-repeat;
		transform: rotate(180deg);
		margin-right: 80px;
		background-color: rgb(255, 255, 255);
		@media (max-width: 767px) {
			border-radius: 15px;
		}
	}
	/* Стрелка вправо */
	.slick-arrow.slick-next {
		right: 0;
		background: url("../img/icons/main/arrow.svg") center no-repeat;
		background-color: rgb(255, 255, 255);
	}
	/* Стрелка не активная */
	.slick-arrow.slick-disabled {
		opacity: 0.5;
	}
	@media (max-width: 992px) {
		width: 110px;
	}
	@media (max-width: 767px) {
		border-radius: 15px;
	}
}
.bottom-mouse {
	cursor: pointer;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #065fa1;
	font-family: "Play";
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	margin-right: 100px;
	img {
		position: relative;
		top: 0;
		left: 0;
		margin-left: 30px;
		animation: mouseup 2s ease infinite alternate;
		@keyframes mouseup {
			0% {
				top: 0;
			}
			100% {
				top: -40px;
			}
		}
	}
	span {
		position: relative;
	}
	span:after {
		content: "";
		height: 80px;
		width: 2px;
		display: block;
		background: #0279c1;
		position: absolute;
		top: -110px;
		left: 163px;
		animation: scroll 2s ease infinite alternate;
		@keyframes scroll {
			0% {
				height: 80px;
				top: -110px;
				background: #0279c1;
			}
			100% {
				height: 40px;
				top: -150px;
				background: #a6ff00;
			}
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	@media (max-width: 1365px) {
		margin-right: 0;
	}
	@media (max-width: 767px) {
		margin-right: 10px;
		img {
			display: none;
		}
	}
}
.about {
	margin: 90px 0 0 0;
}
.container {
}
.about__subtitle {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-family: "Play";
	font-size: 18px;
	line-height: 14px;
	color: #065fa1;
	text-align: center;
	margin: 0 0 27px 0;
	@media (max-width: 992px) {
		margin: 0 0 10px 0;
	}
}
.about__title {
	font-family: "Play";
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #2f384f;
	margin: 0 0 80px 0;
	span{
		white-space: nowrap;
	}
	@media (max-width: 1280px) {
		margin: 0 0 40px 0;
	}
	@media (max-width: 992px) {
		margin: 0 0 20px 0;
	}
	@media (max-width: 767px){
		font-size: 30px;
		line-height: 30px;
	}
}
.about__body {
}
.about__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 1280px) {
		margin-bottom: 80px;
		align-items: flex-start;
	}
	@media (max-width: 992px) {
		flex-direction: column;
	}
}
.about__image {
	flex: 1 1 50%;
	img {
		max-width: 100%;
	}
	@media (max-width: 1280px) {
		flex: 1 1 30%;
	}
	@media (max-width: 992px) {
		padding: 15px;
	}
}
.about__info {
	padding: 64px;
	flex: 1 1 50%;
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.02em;
	color: #131314;
	p:first-child {
		font-weight: 600;
		line-height: 26px;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: #2f384f;
		margin: 0 0 12px 0;
	}
	@media (max-width: 1280px) {
		padding: 0 15px;
		flex: 1 1 70%;
	}
}
.about__button-container {
	margin: 50px 0 0 0;
}
.about__button {
	background: #31aaff;
	box-shadow: 0px 0px 20px rgba(14, 53, 75, 0.05), 0px 20px 30px rgba(8, 97, 163, 0.3);
	border-radius: 30px;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
	padding: 15px 52px;
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.3s ease 0s;
	@media (min-width: 993px){
		&:hover{
			transition: all 0.3s ease 0s;
			top: 3px;
			box-shadow: 0px 0px 10px rgba(14, 53, 75, 0.05), 0px 10px 10px rgba(8, 97, 163, 0.3);
		}
	}
	@media (max-width: 480px) {
		letter-spacing: normal;
		padding: 15px;
	}
	@media (max-width: 360px){
		font-size: 12px;
	}
}
.about__bottom {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 110px 80px;
	@media (max-width: 1280px) {
		padding: 0;
		margin-bottom: 30px;
	}
	@media (max-width: 767px) {
		flex-direction: column;
	}
}
.about__item {
	flex: 1 1 33.333%;
	padding: 0 15px;
	@media (max-width: 767px) {
		margin-bottom: 30px;
	}
}
.about__item-image {
	img {
		height: 90px;
		position: relative;
		top: 0;
		left: -15px;
	}
}
.about__item-title {
	font-family: "Play";
	font-weight: bold;
	font-size: 22px;
	line-height: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #131314;
	margin: 10px 0 31px 0;
	@media (max-width: 767px) {
		margin: 10px 0 10px 0;
	}
}
.about__item-text {
	font-family: "Montserrat";
	font-size: 13px;
	line-height: 22px;
	letter-spacing: -0.03em;
	color: #2f384f;
}
